.App {
  min-height: 100vh;
  text-align: center;
  background-color: #f7f7f7;
}

.modal-header-custom {
  text-align: center;
}

.info {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
  border: 1px solid #ddd;
}
