.grid-container {
  display: grid;
  grid-template-columns: 1fr auto; 
  gap: 10px; 
}

.search-container {
  background-image: url(../../assets/home.jpg);
  color: #ffffffd9;
  max-height: 30rem;
  height: 30rem;
  padding-top: 10rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.search-content{
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  color: #ccc;
}

.search-input {
  margin-right: 8px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.search-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30%;
  margin-bottom: 16px;
  color: black;
  font-size:medium;
  font-weight:500;
}

.flex {
  display: flex;
  align-items: center;
}

/* .btn{
  color: #ccc;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff0000;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 15px; 
  cursor: pointer;
  font-size: 18px;
} */

.enter{
  text-align: center; /* Align text to the left */
  border-radius: 7px; 
  font-size: smaller;
  height: min-content;
  width: auto; /* Allow the button to expand based on content */
  background-color: #FAFAFA; 
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.last-post-title {
  color: blue; 
  font-size: 1.2em; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bold;
  text-decoration:double;
  white-space:calc();
  padding-top: 20px;
}

.last-post-container{
  border-radius: 15px; 
  justify-content: left;
  align-items: left;
}



.search-button-container{
  text-align: left;
  justify-content: flex-start;
  flex-grow: 1;
}

.rent{
  color: black;
  font-size: small;
}

.by{
  color: black;
  font-size: small;
}
.question{
  color:#0F52BA;
  margin-top: -10px;

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input:hover {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  outline: none;
}
i{
  font-size:small;
  font-family:var();
}
b{
  font-size:larger;
}
.search-header{
  margin-top: -50px;
}

.form-control search-input
{
  background-color: gray;

}