.search-container {
  background-image: url(../../assets/home.jpg);
  color: #ffffffd9;
  max-height: 30rem;
  height: 30rem;
  padding-top: 10rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.search-input {
  margin-right: 8px;
}

.search-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30%;
  margin-bottom: 16px;
}

.flex {
  display: flex;
  align-items: center;
}
